<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style1.css">
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
</head>
<body>
  <span class="mainText">Looking to <span><a href='./search?listingType=Buy'>Buy</a></span> / <span><a href='./search?listingType=Rent'>Rent</a></span> properties ?</span>
</body>
</html>
